body {
    padding: 0;
    margin: 0;

    font-family: 'DM Sans', sans-serif;
    color: hsl(25, 47%, 15%);
}

#content {
    width: 100vw;
    height: 100vh;

    background-color: hsl(27, 66%, 92%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#container {
    width: 90%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container > *{
    border-radius: 25px;
}

#balance {
    width: 90%;
    height: 20%;

    padding-right: 5%;
    padding-left: 5%;

    background-color: hsl(10, 79%, 65%);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

p {
    margin-top:0 ;
}

.lightBrown {
    color: hsl(28, 10%, 53%);
}

#expenses {
    width: 100%;
    height: 75%;

    background-color: hsl(33, 100%, 98%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#expenses > * {
    width: 90%;
    border: 1px solid black;
}

h2 {
    margin: 0;
}

#graph {
    height: 40% ;
}

#total {
    height: 25%;
    border-top: 3px solid hsl(27, 66%, 92%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total p,h1 {
    margin: 0;
}

@media (min-width: 1024px) {
    #container {
        width: 40%;
        height: 75%;
        
    }
}